<div class="container p-3 col-6 rounded-2 border border-white">
    <form (submit)="onSubmit()" [formGroup]="testForm">
        
        <ng-container *ngFor="let controlName of getControlNames()" >
            <div class="row">    
            <app-input 
                [control]="$any(testForm).get(controlName)" 
                [label]="$any(testForm).get(controlName)?.name"
                [placeholder]="$any(testForm).get(controlName)?.placeholder"
                [hint]="$any(testForm).get(controlName)?.hint"
                [inputType]="getInputType($any(testForm).get(controlName)?.type)">
            </app-input>
            </div>
        </ng-container>
        
        <button class="btn btn-outline-light" type="submit" [disabled]="!testForm.valid">Подтвердить</button>
    </form>
</div>