<app-schema-selector (fileDataEmitter)="handleFileData($event)"></app-schema-selector>
<div class="container p-3 col-6 rounded-2 border border-white">
    <form (submit)="onSubmit()" [formGroup]="testForm" *ngIf="!schemaFileEmpty">
        <mat-tab-group>
            <mat-tab *ngFor="let tab of tabs" [label]="tab.name" >
                <ng-container *ngFor="let controlName of getControlsByTab(tab.name)">
                    <div class="row">
                        <app-input
                                [control]="$any(testForm).get(controlName)"
                                [label]="$any(testForm).get(controlName)?.name"
                                [placeholder]="$any(testForm).get(controlName)?.placeholder"
                                [hint]="$any(testForm).get(controlName)?.hint"
                                [inputType]="getInputType($any(testForm).get(controlName)?.type)">
                        </app-input>
                    </div>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
        <button class="btn btn-outline-light" type="submit" [disabled]="!testForm.valid">Подтвердить</button>
    </form>
    <h2 *ngIf="schemaFileEmpty">Перейдите в "Настройка формы -> Схема параметров" и введите туда корректную схему в формате yml</h2>
</div>
