<form (ngSubmit)="onSubmit()" [formGroup]="testForm" class="exampleForm">
    <app-input [control]="dateFieldInForm" [inputType]="getInputType('date')" label="date" hint="Date hint"></app-input>
    <app-input [control]="intFieldInForm" [inputType]="getInputType('number')" label="int" placeholder="Int placeholder"
        hint="Int hint"></app-input>
    <app-input [control]="floatFieldInForm" [inputType]="getInputType('number')" label="float"
        placeholder="Float placeholder" hint="Float hint"></app-input>
    <app-input [control]="stringFieldInForm" [inputType]="getInputType('text')" label="string"
        placeholder="String placeholder" hint="String hint"></app-input>
    <button mat-stroked-button color="primary" class="" [disabled]="!testForm.valid">Send</button>
</form>
<ng-container *ngIf="showFormDebugInfo">
<div>
    {{testForm.value | json}}
</div>
    <div >
        {{dateFieldInForm.errors | json}}
        {{intFieldInForm.errors | json}}
        {{floatFieldInForm.errors | json}}
        {{stringFieldInForm.errors | json}}
    </div>
</ng-container>