<div>
    <mat-form-field>
        <mat-label>{{label}}</mat-label>
        <input matInput *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control"
            placeholder="{{placeholder}}" />
        <mat-hint *ngIf="showHint && hint" align="start">{{hint}}</mat-hint>
        <ng-container *ngIf="showErrors()">
            <mat-error *ngIf="control?.hasError('required')">Value of format {{inputType}} is required</mat-error>
            <mat-error *ngIf="control?.hasError('minlength')">Value needs to be at least
                {{control.errors?.['minlength'].requiredLength}}
                characters</mat-error>
            <mat-error *ngIf="control?.hasError('maxlength')">Value needs to be equal or less than
                {{control.errors?.['maxlength']?.requiredLength}}
                characters</mat-error>
            <mat-error *ngIf="control?.hasError('pattern')">Format of input data is incorrect</mat-error>
        </ng-container>
    </mat-form-field>
    <button #hindButton mat-icon-button color="primary" aria-label="Help"
        (click)="toggleHint()"><mat-icon>help</mat-icon></button>
</div>